@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html,
body {
    background-color: #030712; /* Equivalent to bg-gray-950 */
    color-scheme: dark;
}
